<app-default-login-layout
    title = "Recuperar Senha"
    primaryBtnText="Recuperar Senha"
    secondaryBtnText="Login"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!forgotPasswordForm.valid"
>
    <form [formGroup]="forgotPasswordForm">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="Digite seu email!"
        >
            <img src="../../../assets/svg/email-icon.svg">
        </app-primary-input>
        <span (click)="navigateRegister()">Não possui conta? Registre-se</span>
    </form>
</app-default-login-layout>

