<main>
    <section class="main-section">
       <img src="../../../assets/svg/main-illustration.png" alt="img"> 
    </section>
    <section class="form-section">
        <img src="../../../assets/svg/logo.jpg" class="logo" alt="img">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button 
                class="btn-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
                >{{primaryBtnText}}</button>
            <div class="divider">
                <div></div>
                <span>OU</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{secondaryBtnText}}</button>
        </div>
    </section>
</main>
